main {
  width: 100%;
  height: 100%;
  background-color: white;
  color: rgb(0, 0, 0);
  position: relative;
  padding-top: 0.1px;
}
main nav {
  height: 11vh;
  width: 100%;
  background: #ffffff;
  margin-top: 2vw;
  border: solid #000;
  border-width: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-x);
}
main nav h1 {
  user-select: none;
  font-family: "Monument";
  font-size: 2vw;
}
main nav h2 span,
i {
  cursor: pointer;
}
main nav h2 i {
  width: 1vw;
  scale: 1vw;
}
main nav h2 span {
  font-size: 1.45vw;
  font-weight: 600;
}
main nav h2,
h1 {
  background: #ffffff;
  height: 100%;
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #000;
}
main nav h1 {
  width: 18%;
  border: none;
}
main h2:nth-last-child(1) {
  border: none;
  width: 12%;
  background: #00000000;
  transform: translateX(-2rem);
}
