* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #000;
}
#page1 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
#page2 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  color: white;
}
#h1 {
  background-color: rgba(0, 0, 255, 0.466);
  color: white;
  height: 70px;
  position: absolute;
  width: 100%;
}

.test {
  color: aqua;
}
